@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Exo+2&family=Plus+Jakarta+Sans:wght@400;500;600&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Exo+2&family=Inter:wght@300;400;500;600&family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #00539f;
        --color-primary-foreground: #00539f;

        --color-secondary: #bb1865;
        --color-secondary-foreground: #bb1865;

        --color-swatch-blue: #195fb2;
        --color-swatch-blue-foreground: #195fb2;
        --color-swatch-blue-light: #e4e2f5;
        --color-swatch-blue-light-foreground: #e4e2f5;
        --color-swatch-blue-dark: #d7d2f3;
        --color-swatch-blue-dark-foreground: #d7d2f3;

        --color-swatch-green: #19b296;
        --color-swatch-green-foreground: #19b296;
        --color-swatch-green-light: #e2f5f2;
        --color-swatch-green-light-foreground: #e2f5f2;
        --color-swatch-green-dark: #d2f3ee;
        --color-swatch-green-dark-foreground: #d2f3ee;

        --color-swatch-violet: #9d19b2;
        --color-swatch-violet-foreground: #9d19b2;
        --color-swatch-violet-light: #9d19b2;
        --color-swatch-violet-light-foreground: #9d19b2;
        --color-swatch-violet-dark: #9d19b2;
        --color-swatch-violet-dark-foreground: #9d19b2;

        --color-swatch-brown: #b29019;
        --color-swatch-brown-foreground: #b29019;
        --color-swatch-brown-light: #f5f3e2;
        --color-swatch-brown-light-foreground: #f5f3e2;
        --color-swatch-brown-dark: #f3ead2;
        --color-swatch-brown-dark-foreground: #f3ead2;

        --color-swatch-teal: #1996b2;
        --color-swatch-teal-foreground: #1996b2;
        --color-swatch-light: #1996b2;
        --color-swatch-light-foreground: #1996b2;
        --color-swatch-dark: #1996b2;
        --color-swatch-dark-foreground: #1996b2;

        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --ring: 217.2 32.6% 17.5%;
    }
}

@layer base {
    * {
        @apply border-border font-jakarta;
    }
    body {
        @apply bg-background text-foreground;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-inter;
    }
}
